{% extends 'base.html' %}


{% block title %}关于{% endblock %}
{% block main %}
    <div class="container mt-3">
        <h2>DOS时光机-Showtime</h2>
        <h5>Modified By <a href="https://ray8.cc" target="_blank">Raymond Zhou</a></h5>
<br />
        <h3>项目地址</h3>
        <p><a href="https://github.com/raymond9zhou/Showtime.cc-DOS-Time-Machine" target="_blank">https://github.com/raymond9zhou/Showtime.cc-DOS-Time-Machine</a></p>

        <h3>感谢</h3>
        <p>
        <ul>
            <li><a href="#" target="_blank">紫菜 From SUFE</a></li>
            <li><a href="https://github.com/dreamlayers/em-dosbox" target="_blank">dreamlayers/em-dosbox: An Emscripten
                port of DOSBox</a></li>
            <li><a href="https://github.com/db48x/emularity" target="_blank">db48x/emularity: easily embed emulators</a></li>
                
        </ul>
        </p>
        <h3>许可</h3>
        <p><a href="https://www.gnu.org/licenses/gpl-3.0.html">The GNU General Public License v3.0</a></p>
    </div>
{% endblock %}

