<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/es6-promise.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/browserfs.min.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/loader.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/dosbox/dosbox-sync.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/dosbox/dosbox-sync.mem') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/emularity_color_small.png') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='js/game.js') }}">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">DOS时光机-Showtime.cc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('index') }}">首页</a>
            <a class="nav-item nav-link" href="{{ url_for('games') }}">游戏列表</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">关于</a>
            <a class="nav-item nav-link" href="http://movie.showtime.cc/" target="_blank">返回光影首页</a>
        </div>
        <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('search') }}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="游戏名称" aria-label="Search" value="{% block search_query %}{% endblock %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>

{% block main %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% block footer %}{% endblock %}

</body>

</html>